
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 500px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
#header{
    width: 200px;
    height: 50px;
    text-align: center;
    
}
#fruit-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
